<md-card class="paymentSummaryCard" ng-if="screenIsBig()">
  <div class="paymentSummaryImageBig" ng-style="{'background-image': 'url({{unit.defaultImage}})'}">
  </div>
</md-card>

<md-card class="paymentSummaryCard">
  <md-list class="" flex>
    <md-list-item class="paymentHeader md-2-line " ng-mouseleave="addOnsHover = 0" ng-mouseenter="addOnsHover = 1" ng-init="addOnsHover=0">
      <div layout="row" class="md-list-item-text " flex>
        <div layout="row" layout-align="start center" flex="50">
          <div layout="column" class="formHeader">
            <div layout="row" layout-align="start center" flex="50">
              <ng-md-icon class="headerIcon" icon="local_offer" class="listIcon "></ng-md-icon>

              <span class="paymentSubTitle">Booking Summary</span>
            </div>


          </div>
        </div>

        <div layout="row " layout-align="end center " flex="50 ">
          <div layout="column " layout-align="center end " flex>
            <!--<ng-md-icon icon="payment " class="listIcon "></ng-md-icon>-->
          </div>
        </div>
      </div>
    </md-list-item>

    <!--<md-divider ng-if="vm.base "></md-divider>-->
    <md-list-item class="lineItemHeader " ng-if="vm.base " ng-click="null">
      <div class="md-list-item-text  " layout="row " flex>
        <div layout="row " layout-align="start center " flex="50 ">
          <p class=" ">Base Price </p>
        </div>
        <div layout="row " layout-align="end center " flex="50 ">
          <p class=" ">{{vm.base() / 100}} CFP</p>
        </div>
      </div>
    </md-list-item>


    <!--<md-divider ng-if="vm.addons "></md-divider>-->
    <md-list-item class="lineItemHeader " ng-click="vm.toggleShowAddons() " ng-if="vm.addonTotal() > 0">
      <div class="md-list-item-text " layout="row " flex>
        <div layout="row " layout-align="start center " flex="50 ">
          <p class=" ">Add-ons</p>
        </div>
        <div layout="row " layout-align="end center " flex="50 ">
          <p class=" ">{{vm.addonTotal() / 100}} CFP</p>
        </div>
      </div>
    </md-list-item>
    <!--<md-divider ng-if="vm.taxes "></md-divider>-->

    <md-list-item class="list-item-48 lineItemDetail " ng-repeat="charge in booking.addOns " ng-show="vm.showAddons " ng-if="booking.addOns.length > 0">
      <div class="md-list-item-text " layout="row " flex>
        <div layout="row " layout-align="start center " flex="50 ">
          <div layout="row ">
            <p>{{ charge.label }} <span style="vertical-align: 'middle' ">x</span> {{ charge.quantity }}</p>
            <!--<p class=" ">{{ charge.amount / 100 }} CFP</p>-->
          </div>
        </div>
        <div layout="row " layout-align="end center " flex="50 ">
          <p class=" ">{{ charge.price/100 * charge.quantity}} CFP</p>
        </div>
      </div>

      <!--<md-divider md-inset ng-if="$index !=$ ctrl.addons.length - 1 " class="lineItemDetailDivider "></md-divider>
          <md-divider ng-if="$index==$ ctrl.addons.length - 1 "></md-divider>-->
    </md-list-item>

    <md-list-item class="lineItemHeader " ng-if="booking.taxes.length > 0" ng-click="vm.toggleShowTaxes() ">
      <div class="md-list-item-text " layout="row " flex>
        <div layout="row " layout-align="start center " flex="50 ">
          <p class=" ">Taxes and Fees </p>
        </div>
        <div layout="row " layout-align="end center " flex="50 ">
          <p class=" ">{{vm.taxTotal() / 100}} CFP</p>
        </div>
      </div>
    </md-list-item>
    <!--<md-divider ng-if="!vm.showTaxes " class="totalDivider "></md-divider>
        <md-divider ng-if="vm.showTaxes "></md-divider>-->
<div ng-repeat="charge in booking.pricing.charges" ng-show="vm.showTaxes">
    <md-list-item class="list-item-48 lineItemDetail" ng-if="charge.type == 'tax' || charge.type =='fee'" >
      <div class="md-list-item-text " layout="row " flex>
        <div layout="row " layout-align="start center " flex="50 ">
          <div layout="row ">
            <p class=" ">{{ charge.label }}</p>
            <!--<p class="lineItemDetail " ng-if="!charge.percent "> {{ charge.price / 100 }} CFP</p>-->
            <p class="" ng-if="charge.percent ">&nbsp; {{ charge.percent}}%</p>
          </div>
        </div>
        <div layout="row " layout-align="end center " flex="50 ">
          <p class="lineItemDetail ">{{ charge.price/100}} CFP</p>
        </div>
      </div>
      <!--<md-divider md-inset ng-if="$index !=$ ctrl.taxes.length - 1 " class="lineItemDetailDivider "></md-divider>-->
      <!--<md-divider ng-if="$index==$ ctrl.taxes.length - 1 " class="darkerDivider "></md-divider>-->
    </md-list-item>
</div>
    <md-list-item class="paymentHeader md-2-line total " ng-mouseleave="addOnsHover = 0" ng-mouseenter="addOnsHover = 1" ng-init="addOnsHover=0">
      <div class="md-list-item-text " layout="row " layout-align="space-between center " flex>
        <div layout="row " layout-align="start center " flex="50 ">
          <span class="total ">Total </span>
        </div>
        <div layout="row " layout-align="end center " flex="50 ">
          <span class="total ">{{booking.pricing.total + vm.addonTotal() / 100}} CFP</span>
        </div>
      </div>
    </md-list-item>
    <md-divider></md-divider>
  </md-list>
</md-card>
<md-card class="paymentSummaryCard">
  <md-list>


    <div ng-show="booking.paymentResponse == 'success'">
      <md-list-item class="paymentHeader md-2-line md-primary" ng-mouseleave="addOnsHover = 0" ng-mouseenter="addOnsHover = 1" ng-init="addOnsHover=0">
        <div layout="row" class="md-list-item-text " flex>
          <div layout="row" layout-align="start center" flex="50" md-colors="{color: 'primary'}">
            <ng-md-icon class="headerIcon" icon="payment" class="listIcon "></ng-md-icon>

            <span class="paymentSubTitle total">Payment Complete</span>
          </div>
          <div layout="row " layout-align="end center " flex="50 ">
            <span class="paymentSubTitle total" md-colors="{color: 'green'}"></span>

            <ng-md-icon icon="check" class="listIcon " md-colors="{fill: 'green'}"></ng-md-icon>

          </div>
        </div>
      </md-list-item>
      <md-list-item>
        <div layout="row" layout-wrap>

          <p class="listMessage">An e-mail will be sent to {{booking.email }} with details about your reservation.</p>
        </div>
      </md-list-item>
      <md-list-item>
        <div layout="row" layout-align="end center" flex>
          <md-button class="md-raised md-primary" ng-click="goToState('home');">Return</md-button>

        </div>
      </md-list-item>
    </div>

    <div ng-show="paymentResponse == 'failed'">

      <md-list-item class="paymentHeader md-2-line md-primary" md-colors="{color: 'primary'}" ng-mouseleave="addOnsHover = 0" ng-mouseenter="addOnsHover = 1" ng-init="addOnsHover=0">
        <div layout="row" class="md-list-item-text " flex>
          <div layout="row" layout-align="start center" flex="50" md-colors="{color: 'warn'}">
            <ng-md-icon class="headerIcon" icon="payment" class="listIcon "></ng-md-icon>

            <span class="paymentSubTitle total">Payment Failed</span>
          </div>
          <div layout="row " layout-align="end center " flex="50 ">
            <span class="paymentSubTitle total" md-colors="{color: 'warn'}"></span>

            <ng-md-icon icon="error" class="listIcon " md-colors="{fill: 'warn'}"></ng-md-icon>

          </div>
        </div>
      </md-list-item>

      <md-list-item>
        <div layout="row" layout-wrap>

          <p class="listMessage">Your credit card has been declined. Please confirm the information you provided is correct and try again.</p>
        </div>
      </md-list-item>
      <md-list-item>
        <div layout="row" layout-align="end center" flex>
          <md-button class="md-raised md-primary" ng-click="vm.payNow();">Try Again</md-button>

        </div>
      </md-list-item>
    </div>


    <div ng-show="paymentResponse == 'processing'">

      <md-list-item class="paymentHeader md-2-line md-primary" md-colors="{color: 'primary'}" ng-mouseleave="addOnsHover = 0" ng-mouseenter="addOnsHover = 1" ng-init="addOnsHover=0">

        <div layout="row" class="md-list-item-text " flex>
          <div layout="row" layout-align="start center" flex layout-grow md-colors="{color: 'primary'}">
            <ng-md-icon class="headerIcon" icon="payment" class="listIcon "></ng-md-icon>

            <span class="paymentSubTitle total">Payment Processing</span>
          </div>
          <div layout="row " layout-align="end center ">
            <span class="paymentSubTitle total" md-colors="{color: 'green'}"></span>

            <ng-md-icon icon="watch_later" class="listIcon " md-colors="{fill: 'amber'}"></ng-md-icon>

          </div>
        </div>
      </md-list-item>
      <md-list-item>
        <div layout="row" layout-wrap>

          <p class="listMessage">Your booking payment is still processing. An e-mail will be sent to {{booking.email }} with details about your reservation.</p>
        </div>

      </md-list-item>
      <md-list-item>
        <div layout="row" layout-align="end center" flex>
          <md-button class="md-raised md-primary" ng-click="goToState('home');">Return</md-button>

        </div>
      </md-list-item>
    </div>
  </md-list>

</md-card>