<form name="detailsForm" no-validate>
  <md-input-container class="md-block">
    <label>Full Name</label>
    <input name="name" ng-model="$ctrl.bookingForm.name" required type="text" md-maxlength="100" ng-minlength="3" />
    <div ng-messages="detailsForm.name.$error">
      <div ng-message="required">This is required.</div>
      <div ng-message="minlength">The name must be at least 3 characters long.</div>
      <div ng-message="md-maxlength">The name must be less than 100 characters long.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block">
    <label>E-mail</label>
    <input name="email" ng-model="bookingForm.email" required type="email" md-maxlength="100" />
    <div ng-messages="detailsForm.email.$error">
      <div ng-message="required">This is required.</div>
      <div ng-message="email">You must enter a valid e-mail address.</div>
      <div ng-message="md-maxlength">The e-mail must be less than 100 characters long.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Phone</label>
    <input ng-model="personalDetailsForm.phone" required type="phone" />
  </md-input-container>

  <md-input-container class="md-block">
    <label>Notes</label>
    <textarea ng-model="bookingForm.notes" md-maxlength="150" rows="5" md-select-on-focus></textarea>
  </md-input-container>


</form>