<!DOCTYPE html>
<html lang="en" ng-app="sampleapp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Adam Ralko">
  <title>Angular Module Development - Samples</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

  <!-- jQuery, from CDN. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" crossorigin="anonymous"></script>

  <!-- Material, from CDN. -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.css" crossorigin="anonymous">


  <!-- io & feathersjs, from CDN. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/feathersjs/feathers-client/v1.1.0/dist/feathers.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>

  <!-- New module code. -->
  <script src="currency-component.js"></script>

  <!-- Source for sample app. -->
  <script src="sampleapp.js"></script>
  <style>
    body {
      padding: 0;
    }
  </style>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="SampleController as $ctrl" data-spy="scroll" data-target="#mainNav">
  <div layout="row" layout-align="center center">
    <div style="width:700px">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Currency component</span>
            <span class="md-subhead">stripe currencies</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row">
          <span flex>USD<br>{{$ctrl.customCurrencies[0] | obj}}</span>
          <span flex>{{ $ctrl.customPrice | currencyFilter: 'usd' }}</span>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content layout="row">
          <span flex>EUR<br> {{$ctrl.customCurrencies[2] | obj}}</span>
          <span flex>{{ $ctrl.customPrice | currencyFilter: 'eur' }}</span>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content layout="row">
          <span flex>KR<br> {{$ctrl.customCurrencies[3] | obj}}</span>
          <span flex>{{ $ctrl.customPrice | currencyFilter: 'kr' }}</span>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content layout="row">
          <span flex>JPY<br> {{$ctrl.customCurrencies[4] | obj}}</span>
          <span flex>{{ $ctrl.customPrice | currencyFilter: 'jpy' }}</span>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content layout="row">
          <span flex>GBP<br> {{$ctrl.customCurrencies[5] | obj}}</span>
          <span flex>{{ $ctrl.customPrice | currencyFilter: 'gbp' }}</span>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content layout="row">
          <span flex>CHF<br> {{$ctrl.customCurrencies[6] | obj}}</span>
          <span flex>{{ $ctrl.customPrice | currencyFilter: 'chf' }}</span>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content layout="row">
          <span flex>BRL<br> {{$ctrl.customCurrencies[7] | obj}}</span>
          <span flex>{{ $ctrl.customPrice | currencyFilter: 'brl' }}</span>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content layout="row">
          <span flex>XPF<br> {{$ctrl.customCurrencies[9] | obj}}</span>
          <span flex>{{ $ctrl.customPrice | currencyFilter: 'xpf' }}</span>
        </md-card-content>
         <md-divider></md-divider>
        <md-card-content layout="row">
          <span flex>CL passed as object in the run method. This object is missing factor and decimals<br> {{$ctrl.customCurrencies[10] | obj}}</span>
          <span flex>{{ $ctrl.customPrice | currencyFilter: 'cl' }}</span>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content layout="row">
          <span flex>BL passed as object in the run method. This object is NOT missing factor and decimals<br> {{$ctrl.customCurrencies[11] | obj}}</span>
          <span flex>{{ $ctrl.customPrice | currencyFilter: 'bl' }}</span>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content layout="row">
          <span flex>No currency passed (default $) will use defaultCurrency and all its values</span>
          <span flex>{{ $ctrl.customPrice | currencyFilter }}</span>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content layout="row">
          <span flex>Currency passed but not found on the list</span>
          <span flex>{{ $ctrl.customPrice | currencyFilter: 'abc' }}</span>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content layout="row">
          <span flex>Currency with html</span>
          <span flex><span ng-bind-html="$ctrl.customPrice | currencyFilter: 'usd'"></span></span>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content layout="row">
          <span flex>JPY Currency with html and sign at the end</span>
          <span flex><span ng-bind-html="$ctrl.customPrice | currencyFilter: 'jpy' : 'html'"></span></span>
        </md-card-content>
        <md-divider></md-divider>

        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Custom price</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" style="text-align:center">
          <span flex ng-if="!$ctrl.isHtml">{{$ctrl.customPrice | currencyFilter: $ctrl.customCurrency}}</span>
          <span flex ng-if="$ctrl.isHtml"><span ng-bind-html="$ctrl.customPrice | currencyFilter: $ctrl.customCurrency : 'html'"></span></span>
        </md-card-content>
        <md-divider></md-divider>


        <md-card-actions layout="row" layout-align="start start">
          <md-input-container flex="25">
            <label>Price</label>
            <input ng-model="$ctrl.customPrice">
          </md-input-container>
          <md-input-container flex="25">
            <label>Currency</label>
            <md-select ng-model="$ctrl.customCurrency">
              <md-option ng-repeat="currency in $ctrl.customCurrencies" ng-value="currency.name">
                {{currency.name}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex="25">
            <md-checkbox flex aria-label="Html?" ng-model="$ctrl.isHtml">
              HTML?
            </md-checkbox>
          </md-input-container>

        </md-card-actions>
      </md-card>

    </div>

  </div>
</body>

</html>
