.abl-currency span.abl-currency-price{
    font-size: 30px;
    color: #666;
}
.abl-currency span.abl-currency-symbol{
    font-weight: bold;
    font-size: 20px;
    vertical-align: baseline;
    color: #666;
}