<md-card class="paymentSummaryCard">
  
  <img ng-if="$ctrl.image" ng-src="{{$ctrl.image}}" class="md-card-image paymentSummaryImage" alt="Image">
  <md-list class="" flex>
    <md-list-item class="md-2-line list-item-48 paymentHeader">
      <div class="md-list-item-text" layout="row" flex>
        <div layout="row" layout-align="start center" flex="50">
          <div layout="column">
            <p class="paymentTitle" ng-style="{'font-size': '16px'}">{{$ctrl.title}}</p>
            <span class="md-subhead locationHeader">{{$ctrl.unit.property.location.streetAddress}}</span>
          </div>
        </div>

        <div layout="row" layout-align="end center" flex="50">
          <div class="lineItemIcon">
          </div>
          <p class="">{{ $ctrl.nights}} Nights </p>
          <div class="spacer"></div>
          <div class="guestIcon">
          </div>
          <p class="">{{ $ctrl.guests}} People </p>
        </div>
      </div>
    </md-list-item>
    <md-divider class="darkerDivider"></md-divider>
    <md-list-item class="lineItemHeader">
      <div class="md-list-item-text" layout="row" flex>
        <div layout="row" layout-align="start center" flex="50">
          <div layout="column">
            <p class="">Check-In </p>
          </div>
        </div>
        <div layout="row" layout-align="end center" flex="50">

          <div layout="column">
            <p class="lineItemHeader">{{$ctrl.formatDate($ctrl.checkin,'LL')}}</p>
          </div>
        </div>
      </div>
    </md-list-item>
    <md-list-item class="lineItemHeader">
      <div class="md-list-item-text" layout="row" flex>
        <div layout="row" layout-align="start center" flex="50">
          <div layout="column">
            <p class="">Check-Out </p>
          </div>
        </div>

        <div layout="row" layout-align="end center" flex="50">
          <div layout="column">
            <p class="lineItemHeader">{{$ctrl.formatDate($ctrl.checkout,'LL')}}</p>
          </div>
        </div>
      </div>
    </md-list-item>
    <md-divider ng-if="$ctrl.base"></md-divider>
    <md-list-item class="lineItemHeader" ng-if="$ctrl.base">
      <div class="md-list-item-text paymentLineItem" layout="row" flex>
        <div layout="row" layout-align="start center" flex="50">
          <p class="">Base Price </p>
        </div>
        <div layout="row" layout-align="end center" flex="50">
          <p class="">{{$ctrl.base.price / 100}} CFP</p>
        </div>
      </div>
    </md-list-item>


    <md-divider ng-if="$ctrl.addons"></md-divider>
    <md-list-item class="lineItemHeader" ng-click="$ctrl.toggleShowAddons()" ng-if="$ctrl.addons">
      <div class="md-list-item-text" layout="row" flex>
        <div layout="row" layout-align="start center" flex="50">
          <p class="">Add-ons</p>
        </div>
        <div layout="row" layout-align="end center" flex="50">
          <p class="">{{$ctrl.addonTotal() / 100}} CFP</p>
        </div>
      </div>
    </md-list-item>
    <md-divider ng-if="$ctrl.taxes"></md-divider>

    <md-list-item class="list-item-48 lineItemDetail" ng-repeat="charge in $ctrl.addons" ng-show="$ctrl.showAddons" ng-if="$ctrl.taxes">
      <div class="md-list-item-text" layout="row" flex>
        <div layout="row" layout-align="start center" flex="50">
          <div layout="row">
            <p>{{ charge.label }} <span style="vertical-align: 'middle'">x</span> {{ charge.quantity }}</p>
            <!--<p class="">{{ charge.amount / 100 }} CFP</p>-->
          </div>
        </div>
        <div layout="row" layout-align="end center" flex="50">
          <p class="">{{ charge.amount/100 * charge.quantity}} CFP</p>
        </div>
      </div>

      <md-divider md-inset ng-if="$index != $ctrl.addons.length - 1" class="lineItemDetailDivider"></md-divider>
      <md-divider ng-if="$index == $ctrl.addons.length - 1"></md-divider>
    </md-list-item>

    <md-list-item class="lineItemHeader" ng-if="$ctrl.taxes" ng-click="$ctrl.toggleShowTaxes()">
      <div class="md-list-item-text" layout="row" flex>
        <div layout="row" layout-align="start center" flex="50">
          <p class="">Taxes and Fees </p>
        </div>
        <div layout="row" layout-align="end center" flex="50">
          <p class="">{{$ctrl.taxTotal() / 100}} CFP</p>
        </div>
      </div>
    </md-list-item>
    <md-divider ng-if="!$ctrl.showTaxes" class="totalDivider"></md-divider>
    <md-divider ng-if="$ctrl.showTaxes"></md-divider>

    <md-list-item class="list-item-48 lineItemDetail" ng-if="$ctrl.taxes" ng-repeat="charge in $ctrl.taxes" ng-show="$ctrl.showTaxes">
      <div class="md-list-item-text" layout="row" flex>
        <div layout="row" layout-align="start center" flex="50">
          <div layout="row">
            <p class="">{{ charge.label }}{{ charge.quantity }}</p>
            <!--<p class="lineItemDetail" ng-if="!charge.percent"> {{ charge.price / 100 }} CFP</p>-->
            <p class="" ng-if="charge.percent">&nbsp; {{ charge.percent}}%</p>
          </div>
        </div>
        <div layout="row" layout-align="end center" flex="50">
          <p class="lineItemDetail">{{ charge.price/100}} CFP</p>
        </div>
      </div>
      <md-divider md-inset ng-if="$index !=  $ctrl.taxes.length - 1" class="lineItemDetailDivider"></md-divider>
      <md-divider ng-if="$index ==  $ctrl.taxes.length - 1" class="darkerDivider"></md-divider>
    </md-list-item>

    <md-list-item class="total">
      <div class="md-list-item-text" layout="row" layout-align="space-between center"flex>
        <div layout="row" layout-align="start center" flex="50">
          <p class="total">Total </p>
        </div>
        <div layout="row" layout-align="end center" flex="50">
          <p class="total">{{$ctrl.total / 100}} CFP</p>
        </div>
      </div>
    </md-list-item>

  </md-list>
</md-card>